{{#partial "title"}}
    Sighted endangered Animals
{{/partial}}

{{#partial "content"}}
    <p class="heading text-center"> You sighting has been successfully saved</p>
    <div>
        <p>{{name}}</p>
    </div>
    <div class="text-center">
        <a href="/endangered-Animals"> <button type="button" class="btn btn-secondary btn-lg" value="Animal">Add Sighting</button></a>
    </div>
{{/partial}}

{{> layout.hbs}}