
{{#partial "title"}}
    Sight Wildlife:Home
{{/partial}}
{{#partial "content"}}
    <div class="text-center heading">
        <p class="mainHeading">Report a Wildlife Sighting</p>
    </div>
    <div class="selections text-center">
        <a href="/endangered-Animals"><button type="button" class="btn btn-secondary btn-lg" value="Endangered Animal">Endangered Animal</button></a>
        <a href="/animals"> <button type="button" class="btn btn-secondary btn-lg" value="Animal">Animal</button></a>
    </div>
{{/partial}}
{{> layout.hbs}}