
{{#block "header"}}
    <!DOCTYPE html>
    <html>
        <head>
            <title>{{#block "title"}}Sight Wildlife{{/block}}
            </title>
            <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
            <link rel='stylesheet' type="text/css" href='/images/app.css'>
        </head>
        <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/animals">Animals</a></li>
                    <li><a href="/endangered-Animals">Endangered Animals</a></li>
                    <li><a href="#">View Sightings</a></li>
                </ul>
            </div>
        </nav>
{{/block}}

{{#block "content"}}

{{/block}}
        </body>
    </html>